*{
  font-family: Helvetica, sans-serif;
}

html{
  scroll-behavior: smooth;
}

section[id]{
  scroll-margin-top: 70px;
}

#logo{
  height: 50px;
  position: absolute; 
}

#film{
  color: black;
  font-size: 20px;
  font-weight:normal;
  margin-left: 250px;
  padding: 0;
  margin-top: 16px;
}

.botonesNav{
  text-decoration: none;
  color: #9b9594;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}

li{
  list-style-type: none;
}

.botonesNav:hover{
  color: #635e5d;
}

.botonesDelNav{
  margin: auto 10px auto auto;
}

#videoo{
  width:100%;
  height: 760px;
  object-fit: cover;
}

.carousel {
  display: flex;
  position: relative;
  height: 190px;
}

.col{
  height: 190px;
  padding: 0;
}

.fotitos {
  height: 190px;
  object-fit: contain;
}

.fotitos:hover{
  transform: scale(1.05);
}

#slider_bt{
position: absolute;
width: 40px;
height: 40px;
background: rgba(61, 50, 50, 0.7);
top: 50%;
transform: translateY(-50%);
font-size: 30px;
font-weight: bold;
font-family: monospace;
text-align: center;
border-radius: 50%;
cursor: pointer;
} 

.slider_bt:hover{
  background: #fff;
}

.slider_btn_right{
  right: 10px;
}

.slider_btn_left{
left: 10px;
}

.fichas {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 200px 100px 200px;
}

#laureles{
height:50px;
position: absolute;
margin-top: 22px;
margin-right: 60px;
margin-left: -35px;
}

.flex-item:hover{
background-color:#EA6872;
}

.flex-item {
background-color:#979392;
margin: 35px auto;
height: 150px;
width: 150px;
border-radius: 50%;
text-align: center;
color: white;
font-size: 17px;
cursor: pointer;
overflow: hidden;
}

.dato1{
font-size: 40px;
margin-top: 10px;
margin-bottom: 0;
}

#dato9{
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 0px;
  }

.dato10{
font-size: 17px;
margin-top: 0px;
}

.infinito{
margin-top: -25px;
text-align: center;
font-size: 90px;
padding: 0px;
}

#post-production{
  margin-top: -65px;
}

.corazon{
margin-top: 30px;
margin-bottom: 5px;
height: 50px;
width: 60px;
}

#Book{
text-align: center;
color: #979392;
font-size: 35px;
height: 45px;
width: 215px;
position: absolute;
background-color: white;
margin: -20px 42% 0px 42%;
}

.contenedorBookACall{
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 30px;
}

.BookACall{
border: 1.5px solid #979392;
color: #979392;
font-size: 30px;
height: 550px;
}

.Book1{
text-align: center;
color: #868281;
}

#sebas{
margin-top: 30px;
object-fit: cover;
width: 345px;
height: 345px;
border-radius: 50%;
align-items: center;
border: 4px solid #EA6872;
}

.contenedorIconoParrafoUl{
padding: 0;
margin: 80px 0px 5px 0;
}

.contenedorIconoParrafo{
margin: 10px 0 10px 0;
height: 80px;
}

.Book2 p{
height: 70px;
margin: 0;
padding-left: 20px;
font-size: 25px;
text-align: center;
}

.contenedorIconos{
  padding: 0;
}

.iconos{
object-fit: cover;
width: 60px;
height: 60px;
border-radius: 50%;
margin: 0px;
padding: 0;
}

.iconos:hover{
border: 3px solid #EA6872;
}

#Bioo{
margin-top: 30px;
padding-left: 0;
text-align: start;
color: #868281;
font-size: 27px;
}

.container2{
text-align: center;
background-color:#868281;  
color: white;
font-size: 22px;
padding: 30px;
}

.container3{
text-align: center;
background-color:#868281;  
color: white;
font-size: 22px;
padding: 0px 30px 30px 30px;
margin-top: -50px;
}

#Read{
color: #868281;
font-size: 27px;
background-color: white;
text-align: end;
cursor: pointer;
border: none;
margin-left: 52px;
}

#footerArriba{
  padding-top: 15px;
  height: 50px;
  margin-bottom: -20px;
  padding-bottom: -20px;
}

hr{
  height: 2px;
  padding: 0;
  margin: 0;
  height: 2px;
}

#socialMedia{
font-size: 24px;
color: #aca7a6;
font-size: 30px;
height: 50px;
}

#socialMedia p{
  height: 20px;
  padding: 0;
  }

.iconos{
object-fit: cover;
width: 40px;
height: 40px;
border-radius: 50%;
margin-bottom: 0px;
}

#contenedorLogo{
margin-top: 20px;
margin-left: 130px;
width: 40%;
height: 50px;
}

#logo2{
  padding: 0px;
  margin: 0;
  color: black;
  font-size: 30px;
  height: 40px;
}

.Iconos:hover{
  border: 2px solid #EA6872;
  }

footer{
width: 91%;
margin-top: 50px;
margin-left: 4%;
height: 100px; 
}

#footerAbajo{
height: 40px;
margin-top: -10px;
padding-top: 0px;
}

#privacyFilm{
  display: flex;
}

#contenedorPrivacy{
width: 50%;
height: 50px;
margin-top: -10px;
}

#Privacy{
color: #aca7a6;
font-size: 18px;
}

#contenedorFilm2{
width: 50%;
height: 50px;
margin-top: -14px;
}

#Film2{
color: black;
font-size: 25px;
padding-top: 0;
}


@media only screen and (max-width: 420px){

  *{
    overflow-x: hidden;
  }

  #logo{
    height: 40px;
  }

  #film{
    font-size: 15px;
    margin-left: 190px;
    margin-top: 17px;
  }

  #videoo{
    height: 290px;
  }

  .carousel {
    height: 60px;
  }
  
  .col{  
    height: 60px;
  }
  
  .fotitos {
    height: 60px;
  }

  .fichas {
    margin: 50px 5px;
    height: 450px;
  }

  .flex-item {
    margin: 15px auto;
    height: 100px;
    width: 100px;
    font-size: 15px;
    }
    
    .dato1{
    font-size: 25px;
    margin-top: 15px;
    }
    
    #dato9{
      font-size: 20px;
      margin-top: 10px;
      }
    
    #laureles{
      height: 30px;
      margin: 10px 20px 10px -20px;
    }
    
    .dato10{
    font-size: 12px;
    }
    
    .infinito{
    margin-top: -30px;
    font-size: 70px;
    }
    
    #post-production{
      margin-top: -50px;
      font-size: 10px;
    }
    
    .corazon{
    margin-top: 15px;
    margin-bottom: 5px;
    height: 50px;
    width: 60px;
    }
  
  

  
  #Book{
  text-align: center;
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  }
  
  .BookACall{
    width: 100%;
    height: 800px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: none;
  }

  .contenedorBookACall{
    display: block;
    width: 100%;
    height: 800px;
    padding: 0;
    margin: 0;
  }
  
  .Book1{
    height: 450px;
  }

  .sebas{
    width: 100%;
  }
  
  #sebas{
    margin-top: 50px;
    }
  
  .Book2{
    height: 300px;
    margin: 0;
    padding: 0px;
  }

  .contenedorIconoParrafoUl{
    padding: 0;
    margin: 0px;
    width: 100%;
    height: 280px;
  }
  
  .contenedorIconoParrafo{
    margin: 10px 0 10px 0;
    height: 80px;
  
  }
  
  .Book2 p{
  width: 280px;
  padding-left: 10px;
  margin-left: 10px;
  font-size: 25px;
  text-align: justify;
  }
  
.contenedorIconos{
  width: 60px;
  height: 70px;
  margin: 0;
  padding: 10px;
}

  .iconos{
  width: 40px;
  height: 40px;
  margin: 0;

  }
  
  #Read{
  margin-left: 0px;
    }
  
  #socialMedia{
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  }
  
  #socialMedia p{
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
  }
  
  #footerArriba{
    padding-top: 15px;
    height: 50px;
    margin-bottom: -20px;
    padding-bottom: -20px;
  }
  
  .iconos{
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  padding-top: 0px;
  margin-top: -10px;
  }
  
  #contenedorLogo{
  margin-top: 20px;
  margin-left: 130px;
  width: 40%;
  height: 50px;
  }
  
  .p-2{
    width: 100%;
  }
  
  #logo2{
    padding: 0px;
    margin: 0;
    color: white;
    font-size: 0px;
    height: 0px;
  }
  
  #footerAbajo{
  height: 40px;
  margin-top: -10px;
  padding-top: 0px;
  }
  
  #privacyFilm{
    display: flex;
  }
  
  #contenedorPrivacy{
  width: 50%;
  height: 50px;
  margin-top: -10px;
  }
  
  #Privacy{
  color: #aca7a6;
  font-size: 18px;
  }
  
  #contenedorFilm2{
  width: 0px;
  height: 0px;
  margin-top: 0px;
  }
  
  #Film2{
  color: white;
  font-size: 0px;
  padding: 0;
  margin: 0;
  }
  

}

@media only screen and (min-width: 421px) and (max-width: 1023px) {
}

@media only screen and (min-width: 1024px){
    
}
